@import "bootstrap.css";
@import "variables.scss";
@import "global.scss";
@import "mixins.scss";
@media (max-width: 1200px) {
  header {
    .views-field-title {
      width: 80%;
      text-align: center;
    }

    .views-field-body {
      width: 90%;
    }

    #block-omega-sub-main-menu {
      right: 2%;
      top: 5px;
    }

    #name-slogan > div {
      left: 10%;
    }
  }

  #about {
    .views-field-field-image {
      left: 0 !important;
    }

    .views-field-view-node span a {
      top: 260px !important;
    }
  }

  #expertise {
    padding: 0 2% !important;

    .views-col {
      padding: 10px !important;
    }
  }

  #team {
    .views-col {
      // width: 25% !important;
      padding: 0 1%;
    }
  }

  #works {
    .view-footer a {
      left: 43.5% !important;
    }
  }

  #testimonials {
    .views-field-body p {
      margin: 0 7% 10px;
    }

    .slide_left {
      left: 10%;
    }

    .slide_right {
      right: 10%;
    }
  }

  #contact {
    height: 1200px;

    #block-blockwithimage {
      float: left !important;
    }
  }

  footer {
    #block-socialicon {
      top: -250px !important;
      left: 60% !important;
    }
    &:after {
      top: 5600px;
    }
  }
  $contact_height: 1200px;
}
@media (max-width: 912px) {
  #about {
    .views-field-title {
      left: 50% !important;
      transform: translate(-50%) !important;
    }

    .views-field-field-image {
      display: none;
    }

    .views-field-nothing span {
      max-width: none !important;
      left: 0 !important;
      text-align: center;
    }

    #loadMore {
      margin: 15px auto;
    }
  }


}
