@import "variables.scss";
@import "mixins.scss";

#omega-screen--indicator {
  display: none;
}
#toolbar-bar {
  z-index: 1000;
}
a:hover {
  text-decoration: none !important;

  &:hover {
    cursor: pointer;
  }
}
@keyframes learn_more_button {
  0% {
    color: $color_1;
    border-color: $color_1;
  }

  100% {
    color: $white;
    border-color: $color_1;
    background: $color_1;
  }
}
@keyframes nav {
  0% {
    color: $white;
  }

  100% {
    color: $color_1;
  }
}
// button "learn more"

#loadMore,
.view-footer a,
.views-field-view-node span a,
a.button,
input[type="submit"] {
  color: $color_1;
  font-family: $hammersmith;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  z-index: 500;
  padding: 10px 15px;
  border-radius: 2px;
  border: 1px solid #00e0d0;
  text-decoration: none !important;
  cursor: pointer;
  @include left;
  position: absolute;

  &:hover {
    animation: learn_more_button 1s ease both;
    text-decoration: none !important;
    cursor: pointer;
  }
}

a.button {
  border-radius: 2px !important;
  box-shadow: none !important;
  border: 1px solid #00e0d0 !important;
  padding: 10px 15px !important;
}

.video-ov::after {
  top: $video_top + 70px !important;
}

.team-ov::after {
  top: $team_top + 70px !important;
}

.testimonials-ov::after {
  top: $testimonials_top + 70px !important;
}

.footer-ov::after {
  top: $footer_top + 70px !important;
}

.testimonials-ov-cl::after {
  top: $testimonials_top + 140px !important;
}

.footer-ov-cl::after {
  top: $footer_top + 140px !important;
}
