@import 'bootstrap.css';
@import 'variables';
@import 'global';
@import 'mixins';


// overwrite theme's demo regions display

#block-omega-sub-branding,
.messages--warning,
.theme-demo-block {
  display: none !important;
}

// .toolbar {
//   position: fixed;
//   z-index: 9999;
//   width: 100%;
// }

#about,
#contact,
#expertise,
#works {
  background: $white;
}

header {
  height: $header_height;
  position: relative;
  .carousel {
    height: $header_height - 30px;

    .carousel-indicators .active {
      background: $color_1;
      border-color: $color_1;
    }

    .carousel-inner {
      height: 100%;

      .item {
        height: $header_height !important;
        @for $i from 1 through 4 {
          &:nth-child(#{$i}) {
            background: url("../img/header-bg-#{$i}.jpg") center center no-repeat;
            background-size: cover;
          }
        }

        box-shadow: inset 0px 0px 0px 700px $overlay_color;
      }
    }
  }

  #site-branding {
    margin-top: 0;
  }

  .site-name {
    position: absolute;
    top: 10px;
    left: 20%;
    z-index: 1;
  }

  #block-sitebranding a {
    color: #18d9d2 !important;
    font-family: $roboto-thin;
    font-size: 30px;
    font-weight: 100;
    text-transform: lowercase;
    opacity: 0.9;
    letter-spacing: -1px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 15px;
      left: -60px;
      background: url("../img/small-logo.png") center center no-repeat;
      height: 50px;
      width: 50px;
    }
  }

  nav {
    text-align: right;
    margin-top: 35px;
    position: absolute !important;
    top: 0;
    right: 20%;
    z-index: 500;

    ul {
      > :first-child > a {
        color: $color_1 !important;
      }

      li {
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        padding: 5px 12px;

        a {
          font-size: 13px;
          line-height: 24px;
          color: $white !important;
          font-weight: 900;
          letter-spacing: 0.25px;

          &:hover {
            animation: nav 1s ease both;
            text-decoration: none !important;
            cursor: pointer;
          }
        }
      }
    }
  }
}
// HEADER

#block-omega-sub-views-block-we-are-awesome-view-block-1 {
  .views-field-title {
    position: absolute;
    top: 230px;
    left: 50%;
    transform: translate(-50%, 0%);
    color: $white;
    font-family: $playfair;
    font-size: 32px;
    font-weight: 900;
    z-index: 500;

    &:after {
      content: '';
      width: 50px;
      height: 1px;
      background-color: $color_1;
      position: absolute;
      top: 60px;
      @include left;
    }
  }

  .views-field-body {
    color: $white;
    font-family: $roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    position: absolute;
    top: 310px;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 500;
    text-align: center;
  }
  .view-footer {
    a {
      position: absolute;
      top: 445px;
    }
  }

}
#about {
  height: $about_height;
  padding: 70px 5%;
  position: relative;


  #block-views-block-our-story-block-1 {
    position: relative;

    .views-field-title {
      color: $gray;
      font-family: $playfair;
      font-size: 22px;
      font-weight: 700;
      text-transform: uppercase;
      position: absolute;
      top: -10px;
      left: 45%;

      span a {
        color: $gray;
      }
    }

    .views-field-nothing span {
      // display: none;
      opacity: 0.75;
      color: $gray;
      font-family: $roboto;
      font-size: 14px;
      font-weight: 300;
      line-height: 22px;
      position: absolute;
      top: 30px;
      left: 45%;
      max-width: 550px;
      #our-story-p-3, #our-story-p-4 {
        display: none;
      }
      a {
        position: static;
        margin-top: 15px;
        left: 0;
        transform: none;
        width: 125px;
        display: block;
      }
    }

    .views-field-field-image {
      position: absolute;
      left: 20%;
      top: 0;
      width: 235px;
      height: 229px;
      background: url("../img/logo.png") center center;
      background-size: cover;
      @media (min-width: 2000px) {
        left: 28%;
      }

      img {
        display: none;
      }
    }

  }
}

#video {
  height: $video_height;
  background: $video_background center center;
  background-size: cover;

  .modal-dialog {
    margin-top: 7%;

    .modal-content {
      border: 0;
      border-radius: 0;
    }

    .modal-body {
      padding: 0;

      button {
        color: #000;
        opacity: 0.6;
        margin-right: 10px;
        outline: none;
      }
    }
    width: 80% !important;

    iframe {
      width: 100%;
      margin-bottom: -5px;
    }
  }

  .play_button {
    background: transparent;
    position: relative;
    @include center;
    border: none;
    z-index: 10;
    outline: none;

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      @include left;
      height: 100px;
      width: 100px;
      border: 3px solid $white;
      border-radius: 50%;
      z-index: 10;
    }

    img {
      padding: 18px 24px 24px 35px;
      overflow: auto;

      &:hover {}
    }

    span {
      margin-top: 30px;
      text-transform: uppercase;
      color: $white;
      font-family: $roboto;
      font-size: 16px;
      font-weight: 900;
      display: block;
    }
  }

  box-shadow: inset 0px 0px 0px 700px $overlay_color;
}

#expertise {
  .col-1,
  .col-2,
  .col-3 {
    padding: 0 20px;
  }
  height: $expertise_height;
  padding: 0 15%;
  text-align: center;

  .view-header {
    color: $gray;
    font-family: $playfair;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 70px auto;

    p {
      opacity: 0.75;
      color: #2f2d35;
      font-family: $playfair;
      font-size: 14px;
      font-weight: 400;
      text-transform: none;
      margin: 20px 0;
    }
  }

  .views-field-title {
    color: $gray;
    font-family: $roboto;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 15px auto;
  }

  .views-field-body {
    opacity: 0.75;
    color: #333333;
    font-family: $roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 70px;
    line-height: 26px;
    @media (max-width: 1024px) {
      max-width: 240px;
      margin: 0 auto;
    }
  }

  .views-field-field-image {
    &:before {
      content: '';
      display: block;
      position: relative;
      top: 0;
      @include left;
      height: 100px;
      width: 100px;
    }

    img {
      display: none;
    }
  }
}
@for $i from 1 through 3 {
  .row-1 > .col-#{$i} > .views-field-field-image:before {
    background: url("../img/expertise-icon-#{$i}.png") center center no-repeat;
  }
}
@for $i from 4 through 6 {
  .row-2 > .col-#{$i - 3} > .views-field-field-image:before {
    background: url("../img/expertise-icon-#{$i}.png") center center no-repeat;
  }
}

#team {
  height: $team_height;
  background: $forest_background center center;
  background-size: cover;

  .region-team {
    position: absolute;
    width: 100%;
    z-index: 999;
  }

  .view {
    z-index: 999;
    text-align: center;
  }

  .view-header {
    color: $white;
    font-family: $playfair;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 70px;

    p {
      color: #f9f9f9;
      font-size: 14px;
      font-weight: 400;
      text-transform: none;
      margin: 15px 0 60px;
    }
  }

  .views-view-grid {
    text-align: center;
    display: flex;
    justify-content: center;
    @for $i from 1 through 4 {
      .col-#{$i} > .views-row > .views-field-field-image {
        background: url("../img/team-member-#{$i}.jpg") center center no-repeat;
        background-size: cover;
      }
    }

    .views-col {
      display: flex;
      justify-content: center;
      width: 20% !important;
      @media (min-width: 1600px) {
        width: 15% !important;
      }
      @media (min-width: 2200px) {
        width: 10% !important;
      }
      @media (max-width: 1200px) {
        width: 25% !important;
      }
    }

    .views-row {
      max-width: 220px;
      border: 1px solid $white;

      .views-field-field-image {
        background: $white;
        width: 100%;
        height: 230px;

        img {
          display: none;
        }
      }

      .views-field-field-post {
        margin-bottom: 25px;
        opacity: 0.7;
        color: #fafafa;
        font-family: $roboto;
        font-size: 13px;
        font-weight: 300;
        text-transform: uppercase;
      }

      .views-field-title {
        margin: 20px auto 5px;

        a {
          color: $white;
          font-family: Roboto;
          font-size: 14px;
          font-weight: 900;
          text-transform: uppercase;
        }
      }
    }
  }

  .view-footer {
    color: #f3f3f3;
    font-family: $roboto;
    font-size: 14px;
    font-weight: 300;
    margin-top: 60px;

    p {
      margin-bottom: 25px;
    }
  }

  box-shadow: inset 0px 0px 0px 700px $overlay_color;
}

#works {
  height: $works_height;
  padding: 70px 0;

  #block-views-block-our-works-block-1 {
    h2 {
      color: $gray;
      font-family: $playfair;
      font-size: 22px;
      font-weight: 700;
      text-transform: uppercase;
      margin-top: 0;
      display: inline-block;
      float: left;
      margin-left: 20%;
    }

    .view-header {
      display: inline-block;
      float: right;
      margin-right: 20%;
      padding-top: 5px;

      a {
        color: $gray;
        font-family: $roboto;
        font-size: 14px;
        font-weight: 300;
      }
    }

    .view-footer a {
      position: relative;
      bottom: -80px;
      left: 46.5%;
    }

    .view-content {
      padding-top: 90px;
      // .row-3 {
      //   display: none;
      // }
      // @for $i from 1 through 6 {
      //   .row-1 > .col-#{$i} > .views-field-field-image {
      //     background: url('../img/works-#{$i}.jpg') center center no-repeat;
      //     background-size: cover;
      //   }
      // }
      // @for $i from 1 through 6 {
      //   .row-2 > .col-#{$i} > .views-field-field-image {
      //     background: url('../img/works-#{$i + 6}.jpg') center center no-repeat;
      //     background-size: cover;
      //   }
      // }
      // @for $i from 1 through 6 {
      //   .row-3 > .col-#{$i} > .views-field-field-image {
      //     background: url('../img/works-#{$i + 3}.jpg') center center no-repeat;
      //     background-size: cover;
      //   }
      // }
      // @each $i, $gray_color in (1, $gray_1), (2, $gray_2), (3, $gray_3), (4, $gray_4), (5, $gray_5), (6, $gray_6) {
      //   .row-1 > .col-#{$i} > .views-field-field-image {
      //     background-color: $gray_color;
      //   }
      // }
      // @each $i, $gray_color in (1, $gray_6), (2, $gray_5), (3, $gray_4), (4, $gray_3), (5, $gray_2), (6, $gray_1) {
      //   .row-2 > .col-#{$i} > .views-field-field-image {
      //     background-color: $gray_color;
      //   }
      // }
      .views-field-field-image {
        height: 200px;
        // max-width: 267px;
      img {
        object-fit: cover;
        height: 200px;
        width: 100%;
      }
      }
    }
  }
}

#testimonials {
  height: $testimonials_height;
  background: $forest_background center center no-repeat;
  background-size: cover;

  .carousel-inner {
    z-index: 500;

    .item {
      height: 230px !important;
    }
  }
  @for $i from 1 through 5 {
    #quotes_carousel > ol > li:nth-child(#{$i}) {
      background: url("../img/quote-img-#{$i}.png") center center no-repeat;
      background-size: cover;
    }
  }

  .carousel-indicators {
    position: absolute;
    top: 330px;
    @include left;
    margin: 0 auto;

    li {
      width: 45px;
      height: 45px;
      margin: 0 7px;
      border: none;
      background-size: cover;
    }

    li.active {
      width: 70px;
      height: 70px;
      margin-top: -20px;
      position: relative;
      top: 15px;
    }
  }

  .slide_buttons {
    z-index: 999;
    position: relative;
    color: #fff;
    top: 50px;
  }

  .slide_left {
    left: 35%;
  }

  .slide_right {
    left: 62%;
  }

  #block-views-block-people-say-block-1 {
    margin-top: 70px;

    .views-field-body {
      opacity: 0.85;
      color: $white;
      font-family: $playfair;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      max-width: 770px;
      text-align: center;
      margin: 0 auto;
    }

    .views-field-title {
      text-align: center;
      margin-top: 50px;

      a {
        color: $white;
        font-family: $roboto;
        font-size: 14px;
        font-weight: 900;
        line-height: 22px;
        text-transform: uppercase;
      }
    }

    .views-field-field-post {
      text-align: center;
      opacity: 0.7;
      color: $white;
      font-family: $roboto;
      font-size: 13px;
      font-weight: 300;
      line-height: 22px;
      text-transform: uppercase;
    }
  }

  &:before {
    content: '“';
    position: relative;
    top: 70px;
    @include left;
    left: 48.5%;
    z-index: 999;
    opacity: 0.9;
    color: $white;
    font-family: $playfair;
    font-size: 100px;
    font-weight: 400;
    line-height: 22px;
  }


  box-shadow: inset 0px 0px 0px 700px $overlay_color;
}

#contact {
  height: $contact_height;
  padding-left: 15%;
  padding-right: 15%;
  @media (max-width: 1200px) {
    height: 1200px !important;
  }

  h2 {
    color: $gray;
    font-family: $playfair;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 70px 0 35px;
  }

  #block-contactblock {
    max-width: 460px;
    float: left;

    #edit-field-email-0-value {
      max-width: 460px;
    }

    label {
      display: none;
    }

    input {
      height: 45px;
    }

    textarea {
      height: 200px;
      resize: none;
      overflow: hidden;
    }

    input,
    textarea {
      box-shadow: none;
      border: 1px solid rgba(0, 0, 0, 0.1);

      &::placeholder {
        opacity: 0.5;
        color: $gray;
        font-family: $roboto;
        font-size: 14px;
        font-weight: 300;
      }
    }

    input,
    textarea {
      padding: 15px;
      outline-color: $color_1;
    }

    #edit-submit {
      border-radius: 2px;
      border: 1px solid #00e0d0;
      position: static;
      transform: none;
      width: 120px;
      height: 40px;
      padding: 0;
    }
  }

  #block-blockwithimage {
    float: right;
    padding-left: 20px;
    width: 380px;
    @for $i from 1 through 10 {
      .field__item:nth-child(#{$i}) {
        background: url("../img/client-#{$i}.png") center center no-repeat;
        background-size: contain;
      }
    }

    .field__item {
      width: 150px;
      height: 50px;
      margin: 20px auto;
      float: left;

      img {
        display: none;
      }

      &:nth-child(2n) {
        float: right;
      }
    }
    @media (max-width: 1200px) {
      float: left !important;
    }
  }
}

footer {
  height: $footer_height;
  background: $footer_background center center no-repeat;
  background-size: cover;
  padding: 0 15%;
  margin-bottom: -1px;
  @media (max-width: 1200px) {
    padding: 0 2%;
  }
  @media (max-width: 1024px) {
    height: 520px;
  }

  .region-footer {
    height: 400px;
  }

  h2 {
    color: $white;
    font-family: $roboto;
    font-size: 15px;
    font-weight: 900;
    line-height: 26px;
    text-transform: uppercase;
    margin-bottom: 25px;
  }

  #block-footer1 {
    z-index: 99;
    margin-left: 70px;

    .field--name-field-footer-header {
      color: #18d9d2 !important;
      font-family: $roboto-thin;
      font-size: 30px;
      font-weight: 300;
      text-transform: lowercase;
      opacity: 0.9;
      letter-spacing: -1px;
      display: inline-block;
      position: absolute;
      margin-top: 80px;
      z-index: 99;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: -70px;
        background: url("../img/small-logo.png") center center no-repeat;
        height: 50px;
        width: 50px;
      }
    }

    .field--name-body p {
      color: $white;
      font-family: $roboto;
      font-size: 14px;
      font-weight: 300;
      line-height: 26px;
      max-width: 300px;
      position: relative;
      top: 140px;
      left: -70px;
      z-index: 999;
    }
  }

  #block-ourstudio,
  #block-ourstudioblockwithcontactsinfooter {
    z-index: 99;
    position: relative;
    left: 40%;
    top: -70px;
    max-width: 300px;
    @media (max-width: 1024px) {
      left: 60%;
    }

    .field--name-body p:nth-child(2) {
      display: none;
    }

    .field--name-body p,
    .field--name-field-phone {
      color: $white;
      font-family: $roboto;
      font-size: 14px;
      font-weight: 300;
      line-height: 26px;
    }

    .field--name-body:before {
      content: '';
      display: block;
      position: absolute;
      top: 45px;
      left: -50px;
      background: url("../img/footer-location-icon.png") center center no-repeat;
      height: 50px;
      width: 50px;
    }

    .field--name-field-phone:before {
      content: '';
      display: block;
      position: absolute;
      top: 130px;
      left: -50px;
      background: url("../img/footer-phone-icon.png") center center no-repeat;
      height: 50px;
      width: 50px;
    }
  }

  #block-contactblock-2 {
    position: relative;
    z-index: 99;
    top: -260px;
    right: -74%;
    @media (max-width: 1200px) {
      right: -70%;
    }
    @media (max-width: 1024px) {
      right: 0;
      top: 0;
    }
    max-width: 300px;

    h2 {
      margin-bottom: 33px;
      margin-left: 3px;
    }

    input[type="email"] {
      max-width: 210px;
      height: 45px;
      border: 1px solid $white;
      opacity: 0.5;
      background: transparent;
      padding: 15px;
      outline: none;
      color: $white;

      &::placeholder {
        opacity: 0.75;
        color: $white;
        font-family: $roboto;
        font-size: 14px;
        font-weight: 300;
        line-height: 26px;
      }
    }

    input[type="submit"] {
      width: 70px;
      height: 45px;
      border: 1px solid $white;
      background: $white;
      opacity: 0.5;
      position: relative;
      top: -59px;
      left: 260px;
      color: $white;
      border-radius: 0;

      &:hover {
        animation: none;
      }
    }
  }

  #block-footernav {
    z-index: 9;
    position: relative;
    top: -210px;
    left: -10px;
    @media (max-width: 1024px) {
      top: -110px;
      left: 375px;
      display: inline-block;
    }

    .field__item {
      display: inline-block;
      margin: 0 10px;
    }

    a {
      color: $white;
      font-family: $roboto;
      font-size: 14px;
      font-weight: 400;
      line-height: 26px;
      text-transform: uppercase;
    }
  }

  #block-copyrightblockblockinfooter {
    color: $white;
    font-family: $roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    z-index: 99;
    display: inline-block;
    position: relative;
    left: 80%;
    top: 235px;
    @media (max-width: 1024px) {
      left: 75%;
      top: 295px;
    }
    @media (max-width: 912px) {
      left: 60%;
      top: 365px;
    }
  }

  #block-socialicon {
    position: relative;
    top: -290px;
    left: 75%;
    z-index: 999;
    width: 300px;

    .field__label {
      display: none;
    }
    .fa-facebook {
      padding-left: 2px;
    }
    .fa-google-plus {
      margin-left: -2px;
    }
    .field__item {
      display: inline-block;
      border: 1px solid $white;
      border-radius: 50%;
      height: 35px;
    padding-left: 8px;
    padding-top: 4px;
    width: 35px;
    margin-right: 7px;
      a {
        color: $white;
        font-size: 18px;
      }
      &:hover {
        a {
            color: $color_1;
        }

        border-color: $color_1;
      }
    }
  }

  box-shadow: inset 0px 0px 0px 700px $overlay_color;
}
@import "breakpoints.scss";
