// colors
$white: #ffffff;
$color_1: #00e0d0;
$gray: #413d4b;
// our works gray colors
$gray_1: #b6b6b6;
$gray_2: #acacac;
$gray_3: #a1a1a1;
$gray_4: #909090;
$gray_5: #bababa;
$gray_6: #a9a9a9;
// region height
$header_height: 670px;
$about_height: 400px;
$video_height: 550px;
$expertise_height: 750px;
$team_height: 720px;
$works_height: 740px;
$testimonials_height: 500px;
$contact_height: 650px;
$footer_height: 400px;
// region position
$header_top: 0;
$about_top: $header_height;
$video_top: $about_top + $about_height;
$expertise_top: $video_top + $video_height;
$team_top: $expertise_top + $expertise_height + 70px;
$works_top: $team_top + $team_height;
$testimonials_top: $works_top + $works_height;
$contact_top: $testimonials_top + testimonials_height; // $footer_top:           $contact_top + $contact_height;
$footer_top: 5050px;
// backgrounds
$video_background: url("../img/video-bg.jpg");
$forest_background: url("../img/forest-bg.jpg");
$footer_background: url("../img/footer-bg.jpg");
$overlay_background: linear-gradient(to right, #09052f 0%, #311d5e 100%);
// fonts
$playfair: 'Playfair Display';
@font-face {
  font-family: 'Playfair Display';
  src: url("../fonts/playfair-display/PlayfairDisplay-Regular.otf");
}
$hammersmith: 'Hammersmith One';
@font-face {
  font-family: 'Hammersmith One';
  src: url("../fonts/hammersmith-one/HammersmithOne.ttf");
}
$roboto: 'Roboto';
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Regular.ttf");
}
$roboto-thin: 'Roboto Thin';
@font-face {
  font-family: 'Roboto Thin';
  src: url("../fonts/roboto/Roboto-Thin.ttf");
}
