<div class="page">
  <header>
  <div id="header_overlay" class="overlay"></div>
  </header>

  <div id="about"></div>
  <div id="video">
    <div id="video_overlay" class="overlay"></div>
  </div>
  <div id="expertise"></div>
  <div id="team">
    <div id="team_overlay" class="overlay"></div>
  </div>
  <div id="works"></div>
  <div id="testimonials">
    <div id="testimonials_overlay" class="overlay"></div>
  </div>
  <div id="contact"></div>

  <footer>
    <div id="footer_overlay" class="overlay"></div>
  </footer>
</div>
