@import url(bootstrap.css);
@font-face {
  font-family: 'Playfair Display';
  src: url("../fonts/playfair-display/PlayfairDisplay-Regular.otf"); }

@font-face {
  font-family: 'Hammersmith One';
  src: url("../fonts/hammersmith-one/HammersmithOne.ttf"); }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Regular.ttf"); }

@font-face {
  font-family: 'Roboto Thin';
  src: url("../fonts/roboto/Roboto-Thin.ttf"); }

@font-face {
  font-family: 'Playfair Display';
  src: url("../fonts/playfair-display/PlayfairDisplay-Regular.otf"); }

@font-face {
  font-family: 'Hammersmith One';
  src: url("../fonts/hammersmith-one/HammersmithOne.ttf"); }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Regular.ttf"); }

@font-face {
  font-family: 'Roboto Thin';
  src: url("../fonts/roboto/Roboto-Thin.ttf"); }

@font-face {
  font-family: 'Playfair Display';
  src: url("../fonts/playfair-display/PlayfairDisplay-Regular.otf"); }

@font-face {
  font-family: 'Hammersmith One';
  src: url("../fonts/hammersmith-one/HammersmithOne.ttf"); }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Regular.ttf"); }

@font-face {
  font-family: 'Roboto Thin';
  src: url("../fonts/roboto/Roboto-Thin.ttf"); }

a:hover {
  text-decoration: none !important; }
  a:hover:hover {
    cursor: pointer; }

@-webkit-keyframes learn_more_button {
  0% {
    color: #00e0d0;
    border-color: #00e0d0; }
  100% {
    color: #ffffff;
    border-color: #00e0d0;
    background: #00e0d0; } }

@keyframes learn_more_button {
  0% {
    color: #00e0d0;
    border-color: #00e0d0; }
  100% {
    color: #ffffff;
    border-color: #00e0d0;
    background: #00e0d0; } }

@-webkit-keyframes nav {
  0% {
    color: #ffffff; }
  100% {
    color: #00e0d0; } }

@keyframes nav {
  0% {
    color: #ffffff; }
  100% {
    color: #00e0d0; } }

#loadMore,
.view-footer a,
.views-field-view-node span a,
input[type="submit"] {
  color: #00e0d0;
  font-family: "Hammersmith One";
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  z-index: 500;
  padding: 10px 15px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  border: 1px solid #00e0d0;
  text-decoration: none !important;
  cursor: pointer;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  position: absolute; }
  #loadMore:hover,
  .view-footer a:hover,
  .views-field-view-node span a:hover,
  input[type="submit"]:hover {
    -webkit-animation: learn_more_button 1s ease both;
            animation: learn_more_button 1s ease both;
    text-decoration: none !important;
    cursor: pointer; }

.video-ov::after {
  top: 1200px !important; }

.team-ov::after {
  top: 2570px !important; }

.testimonials-ov::after {
  top: 4030px !important; }

.footer-ov::after {
  top: 5180px !important; }

.testimonials-ov-cl::after {
  top: 4160px !important; }

.footer-ov-cl::after {
  top: 5310px !important; }

@font-face {
  font-family: 'Playfair Display';
  src: url("../fonts/playfair-display/PlayfairDisplay-Regular.otf"); }

@font-face {
  font-family: 'Hammersmith One';
  src: url("../fonts/hammersmith-one/HammersmithOne.ttf"); }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Regular.ttf"); }

@font-face {
  font-family: 'Roboto Thin';
  src: url("../fonts/roboto/Roboto-Thin.ttf"); }

@media (max-width: 1200px) {
  header .views-field-title {
    width: 80%;
    text-align: center; }
  header .views-field-body {
    width: 90%; }
  header #block-omega-sub-main-menu {
    right: 2%;
    top: 5px; }
  header #name-slogan > div {
    left: 10%; }
  #about .views-field-field-image {
    left: 0% !important; }
  #about .views-field-view-node span a {
    top: 260px !important; }
  #expertise {
    padding: 0 2% !important; }
    #expertise .views-col {
      padding: 10px 10px !important; }
  #team .views-col {
    padding: 0 1%; }
  #works .view-footer a {
    left: 43.5% !important; }
  #testimonials .views-field-body p {
    margin: 0px 7% 10px; }
  #testimonials .slide_left {
    left: 10%; }
  #testimonials .slide_right {
    right: 10%; }
  #contact {
    height: 1200px; }
    #contact #block-blockwithimage {
      float: left !important; }
  footer:after {
    top: 5600px; } }
