@font-face {
  font-family: 'Playfair Display';
  src: url("../fonts/playfair-display/PlayfairDisplay-Regular.otf"); }

@font-face {
  font-family: 'Hammersmith One';
  src: url("../fonts/hammersmith-one/HammersmithOne.ttf"); }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Regular.ttf"); }

@font-face {
  font-family: 'Roboto Thin';
  src: url("../fonts/roboto/Roboto-Thin.ttf"); }

@font-face {
  font-family: 'Playfair Display';
  src: url("../fonts/playfair-display/PlayfairDisplay-Regular.otf"); }

@font-face {
  font-family: 'Hammersmith One';
  src: url("../fonts/hammersmith-one/HammersmithOne.ttf"); }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Regular.ttf"); }

@font-face {
  font-family: 'Roboto Thin';
  src: url("../fonts/roboto/Roboto-Thin.ttf"); }

#omega-screen--indicator {
  display: none; }

a:hover {
  text-decoration: none !important; }
  a:hover:hover {
    cursor: pointer; }

@-webkit-keyframes learn_more_button {
  0% {
    color: #00e0d0;
    border-color: #00e0d0; }
  100% {
    color: #ffffff;
    border-color: #00e0d0;
    background: #00e0d0; } }

@keyframes learn_more_button {
  0% {
    color: #00e0d0;
    border-color: #00e0d0; }
  100% {
    color: #ffffff;
    border-color: #00e0d0;
    background: #00e0d0; } }

@-webkit-keyframes nav {
  0% {
    color: #ffffff; }
  100% {
    color: #00e0d0; } }

@keyframes nav {
  0% {
    color: #ffffff; }
  100% {
    color: #00e0d0; } }

#loadMore,
.view-footer a,
.views-field-view-node span a,
input[type="submit"] {
  color: #00e0d0;
  font-family: "Hammersmith One";
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  z-index: 500;
  padding: 10px 15px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  border: 1px solid #00e0d0;
  text-decoration: none !important;
  cursor: pointer;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  position: absolute; }
  #loadMore:hover,
  .view-footer a:hover,
  .views-field-view-node span a:hover,
  input[type="submit"]:hover {
    -webkit-animation: learn_more_button 1s ease both;
            animation: learn_more_button 1s ease both;
    text-decoration: none !important;
    cursor: pointer; }

.video-ov::after {
  top: 1140px !important; }

.team-ov::after {
  top: 2510px !important; }

.testimonials-ov::after {
  top: 3970px !important; }

.footer-ov::after {
  top: 5120px !important; }

.testimonials-ov-cl::after {
  top: 4040px !important; }

.footer-ov-cl::after {
  top: 5190px !important; }
