@font-face {
  font-family: 'Playfair Display';
  src: url("../fonts/playfair-display/PlayfairDisplay-Regular.otf"); }

@font-face {
  font-family: 'Hammersmith One';
  src: url("../fonts/hammersmith-one/HammersmithOne.ttf"); }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Regular.ttf"); }

@font-face {
  font-family: 'Playfair Display';
  src: url("../fonts/playfair-display/PlayfairDisplay-Regular.otf"); }

@font-face {
  font-family: 'Hammersmith One';
  src: url("../fonts/hammersmith-one/HammersmithOne.ttf"); }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Regular.ttf"); }

a:hover {
  text-decoration: none !important; }
  a:hover:hover {
    cursor: pointer; }

@-webkit-keyframes learn_more_button {
  0% {
    color: #00e0d0;
    border-color: #00e0d0; }
  100% {
    color: #ffffff;
    border-color: #ffffff;
    background: #00e0d0; } }

@keyframes learn_more_button {
  0% {
    color: #00e0d0;
    border-color: #00e0d0; }
  100% {
    color: #ffffff;
    border-color: #ffffff;
    background: #00e0d0; } }

.view-footer a,
.views-field-view-node span a,
input[type="submit"] {
  color: #00e0d0;
  font-family: "Hammersmith One";
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  z-index: 500;
  padding: 10px 15px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  border: 1px solid #00e0d0;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  position: absolute; }
