@charset "UTF-8";
@import url(bootstrap.css);
@import url(bootstrap.css);
@font-face {
  font-family: 'Playfair Display';
  src: url("../fonts/playfair-display/PlayfairDisplay-Regular.otf"); }

@font-face {
  font-family: 'Hammersmith One';
  src: url("../fonts/hammersmith-one/HammersmithOne.ttf"); }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Regular.ttf"); }

@font-face {
  font-family: 'Roboto Thin';
  src: url("../fonts/roboto/Roboto-Thin.ttf"); }

@font-face {
  font-family: 'Playfair Display';
  src: url("../fonts/playfair-display/PlayfairDisplay-Regular.otf"); }

@font-face {
  font-family: 'Hammersmith One';
  src: url("../fonts/hammersmith-one/HammersmithOne.ttf"); }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Regular.ttf"); }

@font-face {
  font-family: 'Roboto Thin';
  src: url("../fonts/roboto/Roboto-Thin.ttf"); }

@font-face {
  font-family: 'Playfair Display';
  src: url("../fonts/playfair-display/PlayfairDisplay-Regular.otf"); }

@font-face {
  font-family: 'Hammersmith One';
  src: url("../fonts/hammersmith-one/HammersmithOne.ttf"); }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Regular.ttf"); }

@font-face {
  font-family: 'Roboto Thin';
  src: url("../fonts/roboto/Roboto-Thin.ttf"); }

a:hover {
  text-decoration: none !important; }
  a:hover:hover {
    cursor: pointer; }

@-webkit-keyframes learn_more_button {
  0% {
    color: #00e0d0;
    border-color: #00e0d0; }
  100% {
    color: #ffffff;
    border-color: #00e0d0;
    background: #00e0d0; } }

@keyframes learn_more_button {
  0% {
    color: #00e0d0;
    border-color: #00e0d0; }
  100% {
    color: #ffffff;
    border-color: #00e0d0;
    background: #00e0d0; } }

@-webkit-keyframes nav {
  0% {
    color: #ffffff; }
  100% {
    color: #00e0d0; } }

@keyframes nav {
  0% {
    color: #ffffff; }
  100% {
    color: #00e0d0; } }

.view-footer a,
.views-field-view-node span a,
input[type="submit"] {
  color: #00e0d0;
  font-family: "Hammersmith One";
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  z-index: 500;
  padding: 10px 15px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  border: 1px solid #00e0d0;
  text-decoration: none !important;
  cursor: pointer;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  position: absolute; }
  .view-footer a:hover,
  .views-field-view-node span a:hover,
  input[type="submit"]:hover {
    -webkit-animation: learn_more_button 1s ease both;
            animation: learn_more_button 1s ease both;
    text-decoration: none !important;
    cursor: pointer; }

@font-face {
  font-family: 'Playfair Display';
  src: url("../fonts/playfair-display/PlayfairDisplay-Regular.otf"); }

@font-face {
  font-family: 'Hammersmith One';
  src: url("../fonts/hammersmith-one/HammersmithOne.ttf"); }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Regular.ttf"); }

@font-face {
  font-family: 'Roboto Thin';
  src: url("../fonts/roboto/Roboto-Thin.ttf"); }

.overlay {
  background: -webkit-gradient(linear, left top, right top, from(#09052f), to(#311d5e));
  background: -webkit-linear-gradient(left, #09052f 0%, #311d5e 100%);
  background: -o-linear-gradient(left, #09052f 0%, #311d5e 100%);
  background: linear-gradient(to right, #09052f 0%, #311d5e 100%);
  opacity: 0.85;
  position: relative;
  top: 0;
  left: 0;
  width: 100%; }

#block-omega-sub-branding,
.messages--warning,
.theme-demo-block {
  display: none !important; }

.toolbar {
  position: fixed;
  z-index: 9999;
  width: 100%; }

#about,
#contact,
#expertise,
#works {
  background: #ffffff; }

header {
  height: 670px;
  position: relative; }
  header .carousel {
    height: 640px; }
    header .carousel .carousel-indicators .active {
      background: #00e0d0;
      border-color: #00e0d0; }
    header .carousel .carousel-inner {
      height: 100%; }
      header .carousel .carousel-inner .item {
        height: 670px !important; }
        header .carousel .carousel-inner .item:nth-child(1) {
          background: url("../img/header-bg-1.jpg") center center no-repeat;
          -webkit-background-size: cover;
                  background-size: cover; }
        header .carousel .carousel-inner .item:nth-child(2) {
          background: url("../img/header-bg-2.jpg") center center no-repeat;
          -webkit-background-size: cover;
                  background-size: cover; }
        header .carousel .carousel-inner .item:nth-child(3) {
          background: url("../img/header-bg-3.jpg") center center no-repeat;
          -webkit-background-size: cover;
                  background-size: cover; }
        header .carousel .carousel-inner .item:nth-child(4) {
          background: url("../img/header-bg-4.jpg") center center no-repeat;
          -webkit-background-size: cover;
                  background-size: cover; }
        header .carousel .carousel-inner .item > :after {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          height: 670px;
          width: 100%;
          background-image: -webkit-gradient(linear, left top, right top, from(#09052f), to(#311d5e));
          background-image: -webkit-linear-gradient(left, #09052f 0%, #311d5e 100%);
          background-image: -o-linear-gradient(left, #09052f 0%, #311d5e 100%);
          background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
          opacity: 0.85; }
  header #site-branding {
    margin-top: 0; }
  header .site-name {
    position: absolute;
    top: 10px;
    left: 20%;
    z-index: 1; }
  header #block-sitebranding a {
    color: #18d9d2 !important;
    font-family: "Roboto Thin";
    font-size: 30px;
    font-weight: 100;
    text-transform: lowercase;
    opacity: 0.9;
    letter-spacing: -1px; }
    header #block-sitebranding a:before {
      content: '';
      display: block;
      position: absolute;
      top: 15px;
      left: -60px;
      background: url("../img/small-logo.png") center center no-repeat;
      height: 50px;
      width: 50px; }
  header nav {
    text-align: right;
    margin-top: 35px;
    position: absolute !important;
    top: 0;
    right: 20%;
    z-index: 500; }
    header nav ul > :first-child > a {
      color: #00e0d0 !important; }
    header nav ul li {
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      padding: 5px 12px; }
      header nav ul li a {
        font-size: 13px;
        line-height: 24px;
        color: #ffffff !important;
        font-weight: 900;
        letter-spacing: 0.25px; }
        header nav ul li a:hover {
          -webkit-animation: nav 1s ease both;
                  animation: nav 1s ease both;
          text-decoration: none !important;
          cursor: pointer; }

#block-omega-sub-views-block-we-are-awesome-view-block-1 .views-field-title {
  position: absolute;
  top: 230px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  color: #ffffff;
  font-family: "Playfair Display";
  font-size: 32px;
  font-weight: 900;
  z-index: 500; }
  #block-omega-sub-views-block-we-are-awesome-view-block-1 .views-field-title:after {
    content: '';
    width: 50px;
    height: 1px;
    background-color: #00e0d0;
    position: absolute;
    top: 60px;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%); }

#block-omega-sub-views-block-we-are-awesome-view-block-1 .views-field-body {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  position: absolute;
  top: 310px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  z-index: 500;
  text-align: center; }

#block-omega-sub-views-block-we-are-awesome-view-block-1 .view-footer a {
  position: absolute;
  top: 445px; }

#about {
  height: 400px;
  padding: 70px 5%;
  position: relative; }
  #about #block-omega-sub-views-block-our-story-block-1-2 {
    position: relative; }
    #about #block-omega-sub-views-block-our-story-block-1-2 .views-field-title {
      color: #413d4b;
      font-family: "Playfair Display";
      font-size: 22px;
      font-weight: 700;
      text-transform: uppercase;
      position: absolute;
      top: -10px;
      left: 45%; }
      #about #block-omega-sub-views-block-our-story-block-1-2 .views-field-title span a {
        color: #413d4b; }
    #about #block-omega-sub-views-block-our-story-block-1-2 .views-field-body {
      opacity: 0.75;
      color: #413d4b;
      font-family: "Roboto";
      font-size: 14px;
      font-weight: 300;
      line-height: 22px;
      position: absolute;
      top: 30px;
      left: 45%;
      max-width: 550px; }
    #about #block-omega-sub-views-block-our-story-block-1-2 .views-field-field-image {
      position: absolute;
      left: 20%;
      top: 0;
      width: 235px;
      height: 229px;
      background: url("../img/logo.png") center center;
      -webkit-background-size: cover;
              background-size: cover; }
      @media (min-width: 2000px) {
        #about #block-omega-sub-views-block-our-story-block-1-2 .views-field-field-image {
          left: 28%; } }
      #about #block-omega-sub-views-block-our-story-block-1-2 .views-field-field-image img {
        display: none; }
    #about #block-omega-sub-views-block-our-story-block-1-2 .view-footer a {
      top: 210px; }

#video {
  height: 550px;
  background: url("../img/video-bg.jpg") center center;
  -webkit-background-size: cover;
          background-size: cover; }
  #video .modal-dialog {
    margin-top: 7%;
    width: 80% !important; }
    #video .modal-dialog .modal-content {
      border: 0;
      -webkit-border-radius: 0;
              border-radius: 0; }
    #video .modal-dialog .modal-body {
      padding: 0; }
      #video .modal-dialog .modal-body button {
        color: #000;
        opacity: 0.6;
        margin-right: 10px;
        outline: none; }
    #video .modal-dialog iframe {
      width: 100%;
      margin-bottom: -5px; }
  #video .play_button {
    background: transparent;
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border: none;
    z-index: 10;
    outline: none; }
    #video .play_button:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translate(-50%, 0%);
          -ms-transform: translate(-50%, 0%);
              transform: translate(-50%, 0%);
      height: 100px;
      width: 100px;
      border: 3px solid #ffffff;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      z-index: 10; }
    #video .play_button img {
      padding: 18px 24px 24px 35px;
      overflow: auto; }
    #video .play_button span {
      margin-top: 30px;
      text-transform: uppercase;
      color: #ffffff;
      font-family: "Roboto";
      font-size: 16px;
      font-weight: 900;
      display: block; }
  #video:after {
    content: "";
    display: block;
    position: absolute;
    top: 1070px;
    left: 0;
    height: 550px;
    width: 100%;
    background-image: -webkit-gradient(linear, left top, right top, from(#09052f), to(#311d5e));
    background-image: -webkit-linear-gradient(left, #09052f 0%, #311d5e 100%);
    background-image: -o-linear-gradient(left, #09052f 0%, #311d5e 100%);
    background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
    opacity: 0.85; }

#expertise {
  height: 750px;
  padding: 0 15%;
  text-align: center; }
  #expertise .col-1,
  #expertise .col-2,
  #expertise .col-3 {
    padding: 0 20px; }
  #expertise .view-header {
    color: #413d4b;
    font-family: "Playfair Display";
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 70px auto; }
    #expertise .view-header p {
      opacity: 0.75;
      color: #2f2d35;
      font-family: "Playfair Display";
      font-size: 14px;
      font-weight: 400;
      text-transform: none;
      margin: 20px 0; }
  #expertise .views-field-title {
    color: #413d4b;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 15px auto; }
  #expertise .views-field-body {
    opacity: 0.75;
    color: #333333;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 70px;
    line-height: 26px; }
    @media (max-width: 1024px) {
      #expertise .views-field-body {
        max-width: 240px;
        margin: 0 auto; } }
  #expertise .views-field-field-image:before {
    content: '';
    display: block;
    position: relative;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    height: 100px;
    width: 100px; }
  #expertise .views-field-field-image img {
    display: none; }

.row-1 > .col-1 > .views-field-field-image:before {
  background: url("../img/expertise-icon-1.png") center center no-repeat; }

.row-1 > .col-2 > .views-field-field-image:before {
  background: url("../img/expertise-icon-2.png") center center no-repeat; }

.row-1 > .col-3 > .views-field-field-image:before {
  background: url("../img/expertise-icon-3.png") center center no-repeat; }

.row-2 > .col-1 > .views-field-field-image:before {
  background: url("../img/expertise-icon-4.png") center center no-repeat; }

.row-2 > .col-2 > .views-field-field-image:before {
  background: url("../img/expertise-icon-5.png") center center no-repeat; }

.row-2 > .col-3 > .views-field-field-image:before {
  background: url("../img/expertise-icon-6.png") center center no-repeat; }

#team {
  height: 720px;
  background: url("../img/forest-bg.jpg") center center;
  -webkit-background-size: cover;
          background-size: cover; }
  #team .region-team {
    position: absolute;
    width: 100%;
    z-index: 999; }
  #team .view {
    z-index: 999;
    text-align: center; }
  #team .view-header {
    color: #ffffff;
    font-family: "Playfair Display";
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 70px; }
    #team .view-header p {
      color: #f9f9f9;
      font-size: 14px;
      font-weight: 400;
      text-transform: none;
      margin: 15px 0 60px; }
  #team .views-view-grid {
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    #team .views-view-grid .col-1 > .views-row > .views-field-field-image {
      background: url("../img/team-member-1.jpg") center center no-repeat;
      -webkit-background-size: cover;
              background-size: cover; }
    #team .views-view-grid .col-2 > .views-row > .views-field-field-image {
      background: url("../img/team-member-2.jpg") center center no-repeat;
      -webkit-background-size: cover;
              background-size: cover; }
    #team .views-view-grid .col-3 > .views-row > .views-field-field-image {
      background: url("../img/team-member-3.jpg") center center no-repeat;
      -webkit-background-size: cover;
              background-size: cover; }
    #team .views-view-grid .col-4 > .views-row > .views-field-field-image {
      background: url("../img/team-member-4.jpg") center center no-repeat;
      -webkit-background-size: cover;
              background-size: cover; }
    #team .views-view-grid .views-col {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 20% !important; }
      @media (min-width: 1600px) {
        #team .views-view-grid .views-col {
          width: 15% !important; } }
      @media (min-width: 2200px) {
        #team .views-view-grid .views-col {
          width: 10% !important; } }
      @media (max-width: 1200px) {
        #team .views-view-grid .views-col {
          width: 25% !important; } }
    #team .views-view-grid .views-row {
      max-width: 220px;
      border: 1px solid #ffffff; }
      #team .views-view-grid .views-row .views-field-field-image {
        background: #ffffff;
        width: 100%;
        height: 230px; }
        #team .views-view-grid .views-row .views-field-field-image img {
          display: none; }
      #team .views-view-grid .views-row .views-field-field-post {
        margin-bottom: 25px;
        opacity: 0.7;
        color: #fafafa;
        font-family: "Roboto";
        font-size: 13px;
        font-weight: 300;
        text-transform: uppercase; }
      #team .views-view-grid .views-row .views-field-title {
        margin: 20px auto 5px; }
        #team .views-view-grid .views-row .views-field-title a {
          color: #ffffff;
          font-family: Roboto;
          font-size: 14px;
          font-weight: 900;
          text-transform: uppercase; }
  #team .view-footer {
    color: #f3f3f3;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    margin-top: 60px; }
    #team .view-footer p {
      margin-bottom: 25px; }
  #team:after {
    content: "";
    display: block;
    position: absolute;
    top: 2440px;
    left: 0;
    height: 720px;
    width: 100%;
    background-image: -webkit-gradient(linear, left top, right top, from(#09052f), to(#311d5e));
    background-image: -webkit-linear-gradient(left, #09052f 0%, #311d5e 100%);
    background-image: -o-linear-gradient(left, #09052f 0%, #311d5e 100%);
    background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
    opacity: 0.85; }

#works {
  height: 740px;
  padding: 70px 0; }
  #works #block-views-block-our-works-block-1 h2 {
    color: #413d4b;
    font-family: "Playfair Display";
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    display: inline-block;
    float: left;
    margin-left: 20%; }
  #works #block-views-block-our-works-block-1 .view-header {
    display: inline-block;
    float: right;
    margin-right: 20%;
    padding-top: 5px; }
    #works #block-views-block-our-works-block-1 .view-header a {
      color: #413d4b;
      font-family: "Roboto";
      font-size: 14px;
      font-weight: 300; }
  #works #block-views-block-our-works-block-1 .view-footer a {
    position: relative;
    bottom: -80px;
    left: 46.5%; }
  #works #block-views-block-our-works-block-1 .view-content {
    padding-top: 90px; }
    #works #block-views-block-our-works-block-1 .view-content .row-1 > .col-1 > .views-field-field-image {
      background: url("../img/works-1.jpg") center center no-repeat;
      -webkit-background-size: cover;
              background-size: cover; }
    #works #block-views-block-our-works-block-1 .view-content .row-1 > .col-2 > .views-field-field-image {
      background: url("../img/works-2.jpg") center center no-repeat;
      -webkit-background-size: cover;
              background-size: cover; }
    #works #block-views-block-our-works-block-1 .view-content .row-1 > .col-3 > .views-field-field-image {
      background: url("../img/works-3.jpg") center center no-repeat;
      -webkit-background-size: cover;
              background-size: cover; }
    #works #block-views-block-our-works-block-1 .view-content .row-1 > .col-4 > .views-field-field-image {
      background: url("../img/works-4.jpg") center center no-repeat;
      -webkit-background-size: cover;
              background-size: cover; }
    #works #block-views-block-our-works-block-1 .view-content .row-1 > .col-5 > .views-field-field-image {
      background: url("../img/works-5.jpg") center center no-repeat;
      -webkit-background-size: cover;
              background-size: cover; }
    #works #block-views-block-our-works-block-1 .view-content .row-1 > .col-6 > .views-field-field-image {
      background: url("../img/works-6.jpg") center center no-repeat;
      -webkit-background-size: cover;
              background-size: cover; }
    #works #block-views-block-our-works-block-1 .view-content .row-2 > .col-1 > .views-field-field-image {
      background: url("../img/works-7.jpg") center center no-repeat;
      -webkit-background-size: cover;
              background-size: cover; }
    #works #block-views-block-our-works-block-1 .view-content .row-2 > .col-2 > .views-field-field-image {
      background: url("../img/works-8.jpg") center center no-repeat;
      -webkit-background-size: cover;
              background-size: cover; }
    #works #block-views-block-our-works-block-1 .view-content .row-2 > .col-3 > .views-field-field-image {
      background: url("../img/works-9.jpg") center center no-repeat;
      -webkit-background-size: cover;
              background-size: cover; }
    #works #block-views-block-our-works-block-1 .view-content .row-2 > .col-4 > .views-field-field-image {
      background: url("../img/works-10.jpg") center center no-repeat;
      -webkit-background-size: cover;
              background-size: cover; }
    #works #block-views-block-our-works-block-1 .view-content .row-2 > .col-5 > .views-field-field-image {
      background: url("../img/works-11.jpg") center center no-repeat;
      -webkit-background-size: cover;
              background-size: cover; }
    #works #block-views-block-our-works-block-1 .view-content .row-2 > .col-6 > .views-field-field-image {
      background: url("../img/works-12.jpg") center center no-repeat;
      -webkit-background-size: cover;
              background-size: cover; }
    #works #block-views-block-our-works-block-1 .view-content .views-field-field-image {
      height: 200px; }
      #works #block-views-block-our-works-block-1 .view-content .views-field-field-image img {
        display: none; }

#testimonials {
  height: 500px;
  background: url("../img/forest-bg.jpg") center center no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  #testimonials .carousel-inner {
    z-index: 500; }
    #testimonials .carousel-inner .item {
      height: 230px !important; }
  #testimonials #quotes_carousel > ol > li:nth-child(1) {
    background: url("../img/quote-img-1.png") center center no-repeat;
    -webkit-background-size: cover;
            background-size: cover; }
  #testimonials #quotes_carousel > ol > li:nth-child(2) {
    background: url("../img/quote-img-2.png") center center no-repeat;
    -webkit-background-size: cover;
            background-size: cover; }
  #testimonials #quotes_carousel > ol > li:nth-child(3) {
    background: url("../img/quote-img-3.png") center center no-repeat;
    -webkit-background-size: cover;
            background-size: cover; }
  #testimonials #quotes_carousel > ol > li:nth-child(4) {
    background: url("../img/quote-img-4.png") center center no-repeat;
    -webkit-background-size: cover;
            background-size: cover; }
  #testimonials #quotes_carousel > ol > li:nth-child(5) {
    background: url("../img/quote-img-5.png") center center no-repeat;
    -webkit-background-size: cover;
            background-size: cover; }
  #testimonials .carousel-indicators {
    position: absolute;
    top: 330px;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    margin: 0 auto; }
    #testimonials .carousel-indicators li {
      width: 45px;
      height: 45px;
      margin: 0 7px;
      border: none;
      -webkit-background-size: cover;
              background-size: cover; }
    #testimonials .carousel-indicators li.active {
      width: 70px;
      height: 70px;
      margin-top: -20px;
      position: relative;
      top: 15px; }
  #testimonials .slide_buttons {
    z-index: 999;
    position: relative;
    color: #fff;
    top: 50px; }
  #testimonials .slide_left {
    left: 35%; }
  #testimonials .slide_right {
    right: 35%;
    position: absolute;
    top: 4305px; }
  #testimonials #block-views-block-people-say-block-1 {
    margin-top: 70px; }
    #testimonials #block-views-block-people-say-block-1 .views-field-body {
      opacity: 0.85;
      color: #ffffff;
      font-family: "Playfair Display";
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      max-width: 770px;
      text-align: center;
      margin: 0 auto; }
    #testimonials #block-views-block-people-say-block-1 .views-field-title {
      text-align: center;
      margin-top: 50px; }
      #testimonials #block-views-block-people-say-block-1 .views-field-title a {
        color: #ffffff;
        font-family: "Roboto";
        font-size: 14px;
        font-weight: 900;
        line-height: 22px;
        text-transform: uppercase; }
    #testimonials #block-views-block-people-say-block-1 .views-field-field-post {
      text-align: center;
      opacity: 0.7;
      color: #ffffff;
      font-family: "Roboto";
      font-size: 13px;
      font-weight: 300;
      line-height: 22px;
      text-transform: uppercase; }
  #testimonials:before {
    content: '“';
    position: relative;
    top: 70px;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    left: 48.5%;
    z-index: 999;
    opacity: 0.9;
    color: #ffffff;
    font-family: "Playfair Display";
    font-size: 100px;
    font-weight: 400;
    line-height: 22px; }
  #testimonials:after {
    content: "";
    display: block;
    position: absolute;
    top: 3900px;
    left: 0;
    height: 500px;
    width: 100%;
    background-image: -webkit-gradient(linear, left top, right top, from(#09052f), to(#311d5e));
    background-image: -webkit-linear-gradient(left, #09052f 0%, #311d5e 100%);
    background-image: -o-linear-gradient(left, #09052f 0%, #311d5e 100%);
    background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
    opacity: 0.85; }

#contact {
  height: 650px;
  padding-left: 15%;
  padding-right: 15%; }
  @media (max-width: 1200px) {
    #contact {
      height: 1200px !important; } }
  #contact h2 {
    color: #413d4b;
    font-family: "Playfair Display";
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 70px 0 35px; }
  #contact #block-contactblock {
    max-width: 460px;
    float: left; }
    #contact #block-contactblock #edit-field-email-0-value {
      max-width: 460px; }
    #contact #block-contactblock label {
      display: none; }
    #contact #block-contactblock input {
      height: 45px; }
    #contact #block-contactblock textarea {
      height: 200px;
      resize: none;
      overflow: hidden; }
    #contact #block-contactblock input,
    #contact #block-contactblock textarea {
      -webkit-box-shadow: none;
              box-shadow: none;
      border: 1px solid rgba(0, 0, 0, 0.1); }
      #contact #block-contactblock input::-webkit-input-placeholder,
      #contact #block-contactblock textarea::-webkit-input-placeholder {
        opacity: 0.5;
        color: #413d4b;
        font-family: "Roboto";
        font-size: 14px;
        font-weight: 300; }
      #contact #block-contactblock input::-moz-placeholder,
      #contact #block-contactblock textarea::-moz-placeholder {
        opacity: 0.5;
        color: #413d4b;
        font-family: "Roboto";
        font-size: 14px;
        font-weight: 300; }
      #contact #block-contactblock input:-ms-input-placeholder,
      #contact #block-contactblock textarea:-ms-input-placeholder {
        opacity: 0.5;
        color: #413d4b;
        font-family: "Roboto";
        font-size: 14px;
        font-weight: 300; }
      #contact #block-contactblock input::placeholder,
      #contact #block-contactblock textarea::placeholder {
        opacity: 0.5;
        color: #413d4b;
        font-family: "Roboto";
        font-size: 14px;
        font-weight: 300; }
    #contact #block-contactblock input,
    #contact #block-contactblock textarea {
      padding: 15px;
      outline-color: #00e0d0; }
    #contact #block-contactblock #edit-submit {
      -webkit-border-radius: 2px;
              border-radius: 2px;
      border: 1px solid #00e0d0;
      position: static;
      -webkit-transform: none;
          -ms-transform: none;
              transform: none;
      width: 120px;
      height: 40px;
      padding: 0; }
  #contact #block-blockwithimage {
    float: right;
    padding-left: 20px;
    width: 380px; }
    #contact #block-blockwithimage .field__item:nth-child(1) {
      background: url("../img/client-1.png") center center no-repeat;
      -webkit-background-size: contain;
              background-size: contain; }
    #contact #block-blockwithimage .field__item:nth-child(2) {
      background: url("../img/client-2.png") center center no-repeat;
      -webkit-background-size: contain;
              background-size: contain; }
    #contact #block-blockwithimage .field__item:nth-child(3) {
      background: url("../img/client-3.png") center center no-repeat;
      -webkit-background-size: contain;
              background-size: contain; }
    #contact #block-blockwithimage .field__item:nth-child(4) {
      background: url("../img/client-4.png") center center no-repeat;
      -webkit-background-size: contain;
              background-size: contain; }
    #contact #block-blockwithimage .field__item:nth-child(5) {
      background: url("../img/client-5.png") center center no-repeat;
      -webkit-background-size: contain;
              background-size: contain; }
    #contact #block-blockwithimage .field__item:nth-child(6) {
      background: url("../img/client-6.png") center center no-repeat;
      -webkit-background-size: contain;
              background-size: contain; }
    #contact #block-blockwithimage .field__item:nth-child(7) {
      background: url("../img/client-7.png") center center no-repeat;
      -webkit-background-size: contain;
              background-size: contain; }
    #contact #block-blockwithimage .field__item:nth-child(8) {
      background: url("../img/client-8.png") center center no-repeat;
      -webkit-background-size: contain;
              background-size: contain; }
    #contact #block-blockwithimage .field__item:nth-child(9) {
      background: url("../img/client-9.png") center center no-repeat;
      -webkit-background-size: contain;
              background-size: contain; }
    #contact #block-blockwithimage .field__item:nth-child(10) {
      background: url("../img/client-10.png") center center no-repeat;
      -webkit-background-size: contain;
              background-size: contain; }
    #contact #block-blockwithimage .field__item {
      width: 150px;
      height: 50px;
      margin: 20px auto;
      float: left; }
      #contact #block-blockwithimage .field__item img {
        display: none; }
      #contact #block-blockwithimage .field__item:nth-child(2n) {
        float: right; }
    @media (max-width: 1200px) {
      #contact #block-blockwithimage {
        float: left !important; } }

footer {
  height: 400px;
  background: url("../img/footer-bg.jpg") center center no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  padding: 0 15%;
  margin-bottom: -1px; }
  @media (max-width: 1200px) {
    footer {
      padding: 0 2%; } }
  @media (max-width: 1024px) {
    footer {
      height: 520px; } }
  footer .region-footer {
    height: 400px; }
  footer h2 {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 900;
    line-height: 26px;
    text-transform: uppercase;
    margin-bottom: 25px; }
  footer #block-footer1 {
    z-index: 99;
    margin-left: 70px; }
    footer #block-footer1 .field--name-field-footer-header {
      color: #18d9d2 !important;
      font-family: "Roboto Thin";
      font-size: 30px;
      font-weight: 300;
      text-transform: lowercase;
      opacity: 0.9;
      letter-spacing: -1px;
      display: inline-block;
      position: absolute;
      margin-top: 80px;
      z-index: 99; }
      footer #block-footer1 .field--name-field-footer-header:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: -70px;
        background: url("../img/small-logo.png") center center no-repeat;
        height: 50px;
        width: 50px; }
    footer #block-footer1 .field--name-body p {
      color: #ffffff;
      font-family: "Roboto";
      font-size: 14px;
      font-weight: 300;
      line-height: 26px;
      max-width: 300px;
      position: relative;
      top: 140px;
      left: -70px;
      z-index: 999; }
  footer #block-ourstudio,
  footer #block-ourstudioblockwithcontactsinfooter {
    z-index: 99;
    position: relative;
    left: 40%;
    top: -70px;
    max-width: 300px; }
    @media (max-width: 1024px) {
      footer #block-ourstudio,
      footer #block-ourstudioblockwithcontactsinfooter {
        left: 60%; } }
    footer #block-ourstudio .field--name-body p:nth-child(2),
    footer #block-ourstudioblockwithcontactsinfooter .field--name-body p:nth-child(2) {
      display: none; }
    footer #block-ourstudio .field--name-body p,
    footer #block-ourstudio .field--name-field-phone,
    footer #block-ourstudioblockwithcontactsinfooter .field--name-body p,
    footer #block-ourstudioblockwithcontactsinfooter .field--name-field-phone {
      color: #ffffff;
      font-family: "Roboto";
      font-size: 14px;
      font-weight: 300;
      line-height: 26px; }
    footer #block-ourstudio .field--name-body:before,
    footer #block-ourstudioblockwithcontactsinfooter .field--name-body:before {
      content: '';
      display: block;
      position: absolute;
      top: 45px;
      left: -50px;
      background: url("../img/footer-location-icon.png") center center no-repeat;
      height: 50px;
      width: 50px; }
    footer #block-ourstudio .field--name-field-phone:before,
    footer #block-ourstudioblockwithcontactsinfooter .field--name-field-phone:before {
      content: '';
      display: block;
      position: absolute;
      top: 130px;
      left: -50px;
      background: url("../img/footer-phone-icon.png") center center no-repeat;
      height: 50px;
      width: 50px; }
  footer #block-contactblock-2 {
    position: relative;
    z-index: 99;
    top: -260px;
    right: -74%;
    max-width: 300px; }
    @media (max-width: 1200px) {
      footer #block-contactblock-2 {
        right: -70%; } }
    @media (max-width: 1024px) {
      footer #block-contactblock-2 {
        right: 0;
        top: 0; } }
    footer #block-contactblock-2 h2 {
      margin-bottom: 33px;
      margin-left: 3px; }
    footer #block-contactblock-2 input[type="email"] {
      max-width: 210px;
      height: 45px;
      border: 1px solid #ffffff;
      opacity: 0.5;
      background: transparent;
      padding: 15px;
      outline: none;
      color: #ffffff; }
      footer #block-contactblock-2 input[type="email"]::-webkit-input-placeholder {
        opacity: 0.75;
        color: #ffffff;
        font-family: "Roboto";
        font-size: 14px;
        font-weight: 300;
        line-height: 26px; }
      footer #block-contactblock-2 input[type="email"]::-moz-placeholder {
        opacity: 0.75;
        color: #ffffff;
        font-family: "Roboto";
        font-size: 14px;
        font-weight: 300;
        line-height: 26px; }
      footer #block-contactblock-2 input[type="email"]:-ms-input-placeholder {
        opacity: 0.75;
        color: #ffffff;
        font-family: "Roboto";
        font-size: 14px;
        font-weight: 300;
        line-height: 26px; }
      footer #block-contactblock-2 input[type="email"]::placeholder {
        opacity: 0.75;
        color: #ffffff;
        font-family: "Roboto";
        font-size: 14px;
        font-weight: 300;
        line-height: 26px; }
    footer #block-contactblock-2 input[type="submit"] {
      width: 70px;
      height: 45px;
      border: 1px solid #ffffff;
      background: #ffffff;
      opacity: 0.5;
      position: relative;
      top: -59px;
      left: 260px;
      color: #ffffff;
      -webkit-border-radius: 0;
              border-radius: 0; }
      footer #block-contactblock-2 input[type="submit"]:hover {
        -webkit-animation: none;
                animation: none; }
  footer #block-footernav {
    z-index: 9;
    position: relative;
    top: -210px;
    left: -10px; }
    @media (max-width: 1024px) {
      footer #block-footernav {
        top: -110px;
        left: 375px;
        display: inline-block; } }
    footer #block-footernav .field__item {
      display: inline-block;
      margin: 0 10px; }
    footer #block-footernav a {
      color: #ffffff;
      font-family: "Roboto";
      font-size: 14px;
      font-weight: 400;
      line-height: 26px;
      text-transform: uppercase; }
  footer #block-copyrightblockblockinfooter {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    z-index: 99;
    display: inline-block;
    position: relative;
    left: 80%;
    top: 235px; }
    @media (max-width: 1024px) {
      footer #block-copyrightblockblockinfooter {
        left: 75%;
        top: 295px; } }
    @media (max-width: 912px) {
      footer #block-copyrightblockblockinfooter {
        left: 60%;
        top: 365px; } }
  footer #block-socialicon {
    position: relative;
    top: -290px;
    left: 75%;
    z-index: 999;
    width: 300px; }
    footer #block-socialicon .field__label {
      display: none; }
    footer #block-socialicon .fa-facebook {
      padding-left: 2px; }
    footer #block-socialicon .fa-google-plus {
      margin-left: -2px; }
    footer #block-socialicon .field__item {
      display: inline-block;
      border: 1px solid #ffffff;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      height: 35px;
      padding-left: 8px;
      padding-top: 4px;
      width: 35px;
      margin-right: 7px; }
      footer #block-socialicon .field__item a {
        color: #ffffff;
        font-size: 18px; }
      footer #block-socialicon .field__item:hover {
        border-color: #00e0d0; }
        footer #block-socialicon .field__item:hover a {
          color: #00e0d0; }
  footer::after {
    content: "";
    display: block;
    position: absolute;
    top: 5050px;
    left: 0;
    height: 400px;
    width: 100%;
    background-image: -webkit-gradient(linear, left top, right top, from(#09052f), to(#311d5e));
    background-image: -webkit-linear-gradient(left, #09052f 0%, #311d5e 100%);
    background-image: -o-linear-gradient(left, #09052f 0%, #311d5e 100%);
    background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
    opacity: 0.85; }
    @media (max-width: 1200px) {
      footer::after {
        top: 5600px; } }
    @media (max-width: 1024px) {
      footer::after {
        height: 520px;
        height: 860px; } }

@font-face {
  font-family: 'Playfair Display';
  src: url("../fonts/playfair-display/PlayfairDisplay-Regular.otf"); }

@font-face {
  font-family: 'Hammersmith One';
  src: url("../fonts/hammersmith-one/HammersmithOne.ttf"); }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Regular.ttf"); }

@font-face {
  font-family: 'Roboto Thin';
  src: url("../fonts/roboto/Roboto-Thin.ttf"); }

@font-face {
  font-family: 'Playfair Display';
  src: url("../fonts/playfair-display/PlayfairDisplay-Regular.otf"); }

@font-face {
  font-family: 'Hammersmith One';
  src: url("../fonts/hammersmith-one/HammersmithOne.ttf"); }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Regular.ttf"); }

@font-face {
  font-family: 'Roboto Thin';
  src: url("../fonts/roboto/Roboto-Thin.ttf"); }

@font-face {
  font-family: 'Playfair Display';
  src: url("../fonts/playfair-display/PlayfairDisplay-Regular.otf"); }

@font-face {
  font-family: 'Hammersmith One';
  src: url("../fonts/hammersmith-one/HammersmithOne.ttf"); }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Regular.ttf"); }

@font-face {
  font-family: 'Roboto Thin';
  src: url("../fonts/roboto/Roboto-Thin.ttf"); }

a:hover {
  text-decoration: none !important; }
  a:hover:hover {
    cursor: pointer; }

@keyframes learn_more_button {
  0% {
    color: #00e0d0;
    border-color: #00e0d0; }
  100% {
    color: #ffffff;
    border-color: #00e0d0;
    background: #00e0d0; } }

@keyframes nav {
  0% {
    color: #ffffff; }
  100% {
    color: #00e0d0; } }

.view-footer a,
.views-field-view-node span a,
input[type="submit"] {
  color: #00e0d0;
  font-family: "Hammersmith One";
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  z-index: 500;
  padding: 10px 15px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  border: 1px solid #00e0d0;
  text-decoration: none !important;
  cursor: pointer;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  position: absolute; }
  .view-footer a:hover,
  .views-field-view-node span a:hover,
  input[type="submit"]:hover {
    -webkit-animation: learn_more_button 1s ease both;
            animation: learn_more_button 1s ease both;
    text-decoration: none !important;
    cursor: pointer; }

@font-face {
  font-family: 'Playfair Display';
  src: url("../fonts/playfair-display/PlayfairDisplay-Regular.otf"); }

@font-face {
  font-family: 'Hammersmith One';
  src: url("../fonts/hammersmith-one/HammersmithOne.ttf"); }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Regular.ttf"); }

@font-face {
  font-family: 'Roboto Thin';
  src: url("../fonts/roboto/Roboto-Thin.ttf"); }

@media (max-width: 1200px) {
  header .views-field-title {
    width: 80%;
    text-align: center; }
  header .views-field-body {
    width: 90%; }
  header #block-omega-sub-main-menu {
    right: 2%;
    top: 5px; }
  header #name-slogan > div {
    left: 10%; }
  #about .views-field-field-image {
    left: 0% !important; }
  #about .views-field-view-node span a {
    top: 260px !important; }
  #expertise {
    padding: 0 2% !important; }
    #expertise .views-col {
      padding: 10px 10px !important; }
  #team .views-col {
    padding: 0 1%; }
  #works .view-footer a {
    left: 43.5% !important; }
  #testimonials .views-field-body p {
    margin: 0px 7% 10px; }
  #testimonials .slide_left {
    left: 10%; }
  #testimonials .slide_right {
    right: 10%; }
  #contact {
    height: 1200px; }
    #contact #block-blockwithimage {
      float: left !important; }
  footer:after {
    top: 5600px; } }
